<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= [@contact, @email_address] %>
</p>

<%= link_to 'Edit', edit_contact_email_address_path(@email_address) %> |
<%= link_to 'Back', contact_email_addresses_path %>
